-/* Colors and fonts */
body {
  background-color: #F7F7F7;
}
h1,h2 {
  font-family: 'Lora';
}
h1 {
  color: #B0578D;
  font-size: 27px;
}
h2 {
  font-weight:500;
  font-size: 24px;
  color: #D988B9;
}
a {
  text-decoration: none;
  color: #F7F7F7;
  font-weight: bolder;
  font-family: 'Lora';
  transition: color 0.3s ease;
}
p {
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 500px;
}

/* Custom design with class */
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 350px;
  }
}

.card-white {
background-color: white;
padding: 40px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
border-radius: 10px;
margin: 30px 0px;
text-align: center;
border: 2px solid #FACBEA;
}
.img-circle {
  width: 150px;
  border-radius: 50%;
}
.btn-pink {
  background-color: #FACBEA;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.btn-pink:hover {
  background-color: #D988B9;
  transition: background-color 0.3s ease;
  opacity: 0.9;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding:  10px;
}

.list-inline i {
  font-size: 50px;
  color: #FACBEA;
}

.list-inline i:hover {
  color: #D988B9;
  opacity: 0.8;
}

#introduction p{
margin-bottom: 45px;
}
